---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

html {
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}
