---
layout: default
---

<div class="home">
	<br \>
    <h1 class="page-heading" style="text-align:center;">ARCHIVE</h1>
    <p class="post-meta" style="text-align:center;">Every new work of J.Freeman.</p>
    <br \>
    
  {{ content }}

  {%- assign date_format = "%Y - %b %-d" -%}
  <!--h2 class="post-list-heading">Latest Articles:</h2-->
    <ol>
      {%- for post in site.posts -%}
      <li><a href="{{ post.url | relative_url }}">{{ post.date }} <b>{{ post.categories }}</b> {{ post.title | escape }}</a></li>
      {%- endfor -%}
    </ol>

</div>
