---
layout: default
---

<div class="home">
	<br \>
    <h1 class="page-heading" style="text-align:center;">WELCOME TO REALITY</h1>
    <p style="text-align:center;">TruthWeb brings you the best in subjective journalism.</p>
    <br \>
  {{ content }}

  {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">Latest Articles:</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
      {{ post.excerpt | strip_html }}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
